.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; /* Asegura que los elementos hijos ocupen todo el ancho disponible */
  width: 101%;

}

.search {
display: flex;
width: 102%;
}

.result{
  display: flex;
}

.card{
  padding-top: 30px;
  display: flex;
  width: 100%;

}

