.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; /* Asegura que los elementos hijos ocupen todo el ancho disponible */
  width: 100%;

}
.body{
  display: flex;
}

.search {
display: flex;
width: 100%;
}

.result{
  display: flex;
}

.card{
  padding-top: 20px;

  width: 100%;

}

