<div class="container">
  <app-cabecera ></app-cabecera>

 <div class="body">

    <div class="search">
      <!-- el componente search tiene un input que este se le pasa llamado al nombre de la variable
      entre corchetes y le pasamos el formulario al hijo para que se lo asigne a la etiqueta form

      Es mala práctica pasar de hijo a padre, siempre debemos pasar de padre a hijo
      -->
      <app-search-bar [searchForm]="searchForm"></app-search-bar>
    </div>
    <div class="result">
      <app-result-component [heroes]="heroesFiltered"></app-result-component>
    </div>

    <div class="card">
      <app-character-model
        [heroes]="heroesFiltered"
        [searchForm]="searchForm"
      />
    </div>

    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next</button>
    </div>

  </div>

</div>
