<div class="comic-gallery" *ngFor="let comic of comics; let i = index">
  <img
    [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
    (click)="selectComic(i)"
    alt="Comic"
    class="imageComic">
    <div class="description">
    <p>{{ comic.title }}</p>
    <p>{{ comic.dates[0].date | date: 'yyyy' }}</p>
  </div>
</div>
<div class="progress-container" *ngIf="comics.length > 0">
  <div class="progress-bar" [style.width]="progressWidth + '%'"></div>
  <div class="progress-text">{{ selectedComicIndex }}/{{ comics.length }}</div>
</div>

