
.character-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Ajusta dinámicamente las columnas */
  gap: 16px;
  padding: 0;
}

.card-character {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.5);
  position: relative;

  color: rgb(255, 255, 255);
  border: solid;
  border-width: 1px;
}

.card-character::before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent rgb(254, 253, 253);
}

.card-bottom {
  background-color: black;
}

.red-line {
  height: 10px;
  background-color: red;
}

.info-character {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 10px;
}

.name h1 {
  font-size: 1.2rem;
  color: white;
}

.character-image {
  object-fit: cover;
}

.card-bottom:hover {
  background-color: red;
}

.favorite {
  margin: 10px;
}

