.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; /* Asegura que los elementos hijos ocupen todo el ancho disponible */
  width: 100%;

}

.header {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos hijos */
  align-items: center; /* Centra verticalmente los elementos */
  width: 99%; /* Asegura que el header ocupe todo el ancho */
  padding: 8px;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;

}

.left {
  display: flex;
}

.right {
  display: flex;

}

.count{
  display: flex
}

.favourite{
  display: flex;
}

