@media (min-width: 1024px) {
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; /* Asegura que los elementos hijos ocupen todo el ancho disponible */
  width: 100%;
}

.ficha {
  width: 100%;
  display: flex;
  background-color: black;
  justify-self: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* align-content: center; */
  position: relative; /* Añade posición relativa para que los elementos absolutos se posicionen correctamente */
}

.ficha::before {
  content: '';
  position: absolute;
  bottom: -1px; /* Ajusta la posición para que el triángulo esté alineado con el borde inferior */
  right: -1px; /* Ajusta la posición para que el triángulo esté alineado con el borde derecho */
  width: 0; /* Ancho inicial del triángulo, se aumentará a medida que se defina el tamaño del borde */
  height: 0; /* Altura inicial del triángulo */
  border-style: solid;
  border-width: 0 0 20px 20px; /* Definición de los bordes para formar un triángulo invertido */
  border-color: transparent transparent rgb(254, 253, 253); /* Colores de los bordes: transparente, transparente, blanco, transparente */
}

.body {
  display: flex;
  /* width: 100%; */
  height: 300px;

}

.image {
  display: flex;
  padding-left: 150px;
  height: 100%;
  object-fit: cover;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

}


.cabecera{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.hero {
  display: flex;
  padding-left: 40px;
  padding-right: 200px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.title {
  display: flex;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: bolder;
}

.description {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.comics{

        display: flex;
        padding-left: 150px;
        padding-right: 180px;
        padding-top: 30px;

        overflow-x: scroll;


        flex-wrap: wrap;
        padding-bottom: 50px;

 }



.Tcomics{
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: bolder;
}

.comic{
  display: flex;
    gap: 10px;
}
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .ficha {
    width: 100%;
    display: flex;
    background-color: black;
    justify-self: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
  }

  .ficha::before {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent rgb(254, 253, 253);
  }

  .body {
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .image {
    display: flex;
    padding-left: 0;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    justify-content: center;
    overflow: hidden; /* Agrega este estilo para evitar que la imagen se salga del contenedor */
  }

  .cabecera {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .hero {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .title {
    display: flex;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: bolder;
  }

  .description {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .comics {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    flex-direction: column;
  }

  .Tcomics {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: bolder;
  }


     .comic{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        height: 200px;
    }




}






/* tamaño movil */

@media (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .ficha {
    width: 100%;
    display: flex;
    background-color: black;
    justify-self: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
  }

  .ficha::before {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent rgb(254, 253, 253);
  }

  .body {
    display: flex;
    height: auto;
    flex-direction: column;
  }

  .image {
    display: flex;
    padding-left: 0;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    justify-content: center;
    overflow: hidden; /* Agrega este estilo para evitar que la imagen se salga del contenedor */
  }

  .cabecera {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .hero {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .title {
    display: flex;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: bolder;
  }

  .description {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .comics {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    flex-direction: column;
  }

  .Tcomics {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: bolder;
  }


}

