<div class="container">
  <app-cabecera></app-cabecera>

  <div class="body">
    <div class="ficha">
      <div class="image">
        <img src="../../../../assets/Ultimate SpiderMan_resized (1).jpg" >
      </div>
      <div class="hero">
        <div class="title">
          <h1>SPIDERMAN</h1>
        </div>

        <div class="icon">
            <app-favorites-icon></app-favorites-icon>
        </div>


        <div class="description">
          <p> fgfdgfgdh fgfdhgfgh dghfgdhfgdhdfg</p>
        </div>
      </div>
    </div>
  </div>
  <div class="comics">
    <div class="Tcomics">COMICS</div>
    <div class="comiclist"></div>
    <div></div>

  </div>



</div>
